*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;


}

body{
    min-height: 100vh;
    background: linear-gradient(#a1f507,rgb(53, 127, 7));
    

}

h1{
    color: rgb(5, 0, 0);
    left: 28em;
    position: absolute;


}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



table{
    justify-content: center;
    display: flex;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5em;
    font-size: 20px;

}

th{
    border: 2px solid rgb(17, 16, 16);
    text-align: center;
    padding: 8px;
    z-index: 3;
    background-color: rgb(215, 245, 68);
    font-size: 20px;
    width: 12em;
    padding-top: 15px;
    padding-bottom: 15px;
}

td{
    border: 2px solid rgb(17, 16, 16);
    text-align: center;
    padding: 8px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 12em;
}